<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <link rel="stylesheet" href="/static/css/style.css">
  <title>{{pageTitle}}</title>
</head>
<body>
  <div>
  <h1>List Of Carts</h1>
  <div id="container" class="container">
  <div id="showData" class="col row-cols-lg-auto g-3 align-items-center">
{{#if cartsExist}}
{{#each carts}}
<div class="card m-5 col-lg-9" style="width: 18rem">
        <div class="card-body" style="width: inherit">
          
          <h5 class="card-text">Cart Id: {{this._id}}</h5>
          <h5 class="card-text">Cart User: {{this.user}}</h5>
          <hr>
          {{#each this.products}}
          <div class="card-text">
          <h5 class="card-text">Product:</h5>
          {{!-- {{#each this.products._id}} --}}
          <p><b>Name:</b> {{this._id.title}}</p>
          <p><b>Description:</b> {{this._id.description}}</p>
          <p><b>Price:</b> {{this._id.price}}</p>
          {{!-- {{/each}} --}}
          </div>
          <h5 class="card-text">Quantity: {{this.quantity}}</h5>
          <hr>
          {{/each}}
          <button id="addBtn-${p._id}" href="#" class="btn btn-secondary" data-idProduct=${{this._id}}>Delete</button>
        </div>
      </div>
{{/each}}
{{else}}
Carts Doesn't exist...
{{/if}}
  </div>
  </div>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/static/js/carts.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</body>
</html>